<!DOCTYPE html>
<html lang=en>
{% extends "base.html" %}
<head>
</head>
<body>
    {% block content %}
    <div class="about_us">
        <h3>Ingi Þór Sigurðsson</h3>
        <a href="mailto:ingis17@ru.is">Contact Ingi</a>
        <p>Oversees: File uploading, database structure and connectivity, website functionality, code implementations, flask</p>
        <h3>Tyler Elías Jones</h3>
        <a href="mailto:tylerj17@ru.is">Contact Tyler</a>
        <p>Oversees: Website design, website functionality, database implementation and connectivity, CSS and templates</p>
    </div>
    {% endblock %}
</body>
</html>