<!DOCTYPE html>
<html lang="en">
{% extends "base.html" %}

<head>
	{% block head %}
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

	<!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	{% endblock %}
</head>

<body>
	{% block content %}
	<div class="problem">
		<div>
			<h2>
				{{problem.name}}
			</h2>
			<p> {{problem.desc}}</p>
		</div>
		<form action="{{ url_for('upload.upload_file', link=link, problem_id=problem['id'] ) }}" method="POST" enctype="multipart/form-data">
			<input class="custom-file-input" type="file" name="file">
			<input class="btn" type="submit" value="Submit file">
		</form>
		{% for value in results.values() %}
		<p>{{value}}</p>
		{% endfor %}
	</div>
	{% endblock %}
</body>

</html>