
<!DOCTYPE html>
<html lang="en">
	{% extends "base.html" %}
<head>
	
</head>
<body>
	{% block content %}
		<div class="problem">
			<div>
				<h2>
					{{problem.name}}
				</h2>
				<p> {{problem.desc}}</p>
			</div>
			<form action="{{ url_for('upload.upload_file', link=link, problem_id=problem['id'] ) }}" method="POST" enctype="multipart/form-data">
				<input type="file" name="file">
				<input type="submit" value="Submit file">
			</form>
			{% for value in results.values() %}
				<p>{{value}}</p>
			{% endfor %}
		</div>
	{% endblock %}
</body>

</html>